{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Timeless Tales</title>
        <link rel="stylesheet" href="{% static 'css/webapp.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <style>
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        </style>
    </head>
    <body>
        <header>
            <div class="logo-container">
                <a href="{% url 'webapp:welcome' %}">
                    <img src="{% static 'images/TimelessTales.png' %}" alt="Timeless Tales Logo">
                </a>
            </div>            
            <div class="icon-container">
                {% if user.is_authenticated %}
                    <a href="{% url 'webapp:user_profile_own' %}" class="icon-link"><i class="fas fa-user-circle"></i></a>
                    <button onclick="toggleLoginForm();" class="logout-button" style="display: none;">Log In</button>
                    <form method="post" action="{% url 'webapp:logout' %}" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Log Out</button>
                    </form>
                {% else %}
                    <i class="fas fa-user-circle icon-link"></i>
                    <button onclick="toggleLoginForm();" class="logout-button">Log In</button>
                    <div class="login-form-container" style="display: none;">
                        <form method="post" action="{% url 'webapp:welcome' %}">
                            {% csrf_token %}
                            {{ login_form.username.label_tag }} {{ login_form.username }}
                            {{ login_form.password.label_tag }} {{ login_form.password }}
                            <button type="submit" name="login">Log in</button>
                            <a href="{% url 'webapp:password_reset' %}" class="forgot-password">Forgot my password</a>
                        </form>
                    </div>
                {% endif %}
            </div>            
        </header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'webapp:home' %}">Home</a></li>
                    <li><a href="{% url 'webapp:post_search' %}">Search</a></li>
                {% else %}
                    <li><a href="{% url 'webapp:welcome' %}">Home</a></li>
                    <li><a href="{% url 'webapp:welcome' %}">Search</a></li>
                {% endif %}
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>Timeless Tales Inc.<br><br>@2023 by Timeless Tales. All rights reserved.</p>
            <a href="/user_agreement">Terms of Use</a>
        </footer>
        {% block extra_js %}
        <script>
            function toggleLoginForm() {
                const loginFormContainer = document.querySelector('.login-form-container');
                loginFormContainer.style.display = loginFormContainer.style.display === 'none' ? 'block' : 'none';
            }
        </script>
        {% endblock %}
    </body>
</html>


