{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block extra_head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
{% endblock %}

{% block content %}
<div class="home-page">
    <!-- Profile bar -->
    <div class="profile-bar">
        <a href="{% url 'webapp:create_a_post' %}" onclick="togglePosts();">New Post</a>
        <a href="{% url 'webapp:user_profile_own' %}" onclick="toggleProfile();">Profile</a>
    </div>
    <!-- User header section -->
    <div class="home-header">
        <h2>Share Your World </h2>
        <p>Unleash your creativity and connect with a vibrant community of like-minded individuals</p>
    </div>
    <div class="post-list">
        <h2>Posts from Followed</h2>
        {% for post in followed_posts %}
            <div class="followed-posts">
                {% with post.description.html|safe|extract_first_image as image_src %}
                    {% if image_src %}
                        <img src="{{ image_src }}" alt="{{ post.title }} first image">
                    {% endif %}
                {% endwith %}
                <div class="followed-posts-content">
                    <h3><a href="{% url 'webapp:post_detail' post.pk %}">{{ post.title|truncatewords:5 }}</a></h3>
                    <p>{{ post.description.html|safe | truncatewords:10}}</p>
                </div>
                <div class="followed-posts-icons">
                    <i class="fas fa-thumbs-up"></i> <strong>Likes:</strong> {{ post.likes.count }} &nbsp;
                    <i class="fas fa-comment"></i> <strong>Comments:</strong> {{ post.comments.count }}&nbsp;
                </div>
            </div>
        {% empty %}
            <p>You are not following any users or they have not created any posts yet.</p>
        {% endfor %}
        <h2>Most Popular Posts</h2>
        {% for post in most_liked_posts %}
            <div class="most-liked-posts">
                {% with post.description.html|safe|extract_first_image as image_src %}
                    {% if image_src %}
                        <img src="{{ image_src }}" alt="{{ post.title }} first image">
                    {% endif %}
                {% endwith %}
                <div class="user-posts-content">
                    <h3><a href="{% url 'webapp:post_detail' post.pk %}">{{ post.title|truncatewords:5 }}</a></h3>
                    <p>{{ post.description.html|safe | truncatewords:10}}</p>
                </div>
                <div class="user-posts-icons">
                    <i class="fas fa-thumbs-up"></i> <strong>Likes:</strong> {{ post.likes.count }} &nbsp;
                    <i class="fas fa-comment"></i> <strong>Comments:</strong> {{ post.comments.count }}&nbsp;
                </div>
            </div>
        {% empty %}
            <p>There are no posts yet.</p>
        {% endfor %}   
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
function hideAllSections() {
    document.querySelector('.posts-list').style.display = 'none';
}

function toggleSection(sectionClass) {
    hideAllSections();
    const section = document.querySelector(sectionClass);
    section.style.display = 'block';
}


function togglePosts() {
    toggleSection('.posts-list');
}

</script>
{% endblock %}
