{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
<div class="post-detail">
    <div class="post-header">
        <div class="author-info">
            <img src="{{ post.user.profile.profile_pic.url }}" alt="{{ post.user.username }} profile picture">
            <a class="author-name" href="{% url 'webapp:user_profile_other' post.user.username %}">{{ post.user.username }}</a>
            {% if post.date and post.end_date %}
                <p>Memory date: {{ post.date }} - {{ post.end_date }}
                {% if post.include_time %}
                    at {{ post.time }}
                {% endif %}</p>
            {% elif post.date %}
                <p>Memory date: {{ post.date }}
                {% if post.include_time %}
                    at {{ post.time }}
                {% endif %}</p>
            {% else %}
                {% if post.season and post.year and post.decade %}
                    <p>{{ post.get_season_display }}, {{ post.year }}, {{ post.decade }}s</p>
                {% elif post.season and post.year %}
                    <p>{{ post.get_season_display }}, {{ post.year }}</p>
                {% elif post.year and post.decade %}
                    <p>{{ post.year }}, {{ post.decade }}s</p>
                {% elif post.season and post.decade %}
                    <p>{{ post.get_season_display }}, {{ post.decade }}s</p>
                {% elif post.season %}
                    <p>{{ post.get_season_display }}</p>
                {% elif post.year %}
                    <p>{{ post.year }}</p>
                {% elif post.decade %}
                    <p>{{ post.decade }}s</p>
                {% endif %}
            {% endif %}
            <p>Published on: {{ post.published_date }}</p>
        </div>
        <div class="post-actions">
            <p>
                <strong>Likes:</strong> {{ post.likes.count }} &nbsp;
                <form method="post" action="{% url 'webapp:like_post' post.id %}" style="display: inline;" id="likeForm">
                    {% csrf_token %}
                    {% if request.user in post.likes.all %}
                      <button type="submit" class="like-btn" data-liked="true">
                        <i class="fas fa-thumbs-up"></i> Unlike
                      </button>
                    {% else %}
                      <button type="submit" class="like-btn" data-liked="false">
                        <i class="far fa-thumbs-up"></i> Like
                      </button>
                    {% endif %}
                </form>                          
            </p>
            {% if request.user == post.user %}
                <a href="{% url 'webapp:post_edit' post.id %}" class="edit-post-detail-btn">Edit</a>
            {% endif %}        
        </div>
    </div>
    <div class="post-description">
        <h2>{{ post.title }}</h2>
        <div class="post-category">
            {% if post.category %}
                <strong>Category:</strong> <span class="category">{{ post.get_category_display }}</span>
            {% endif %}
            {% if post.tags %}
                <strong>Tags:</strong>
                {% for category in post.tags|split:"," %}
                    <span class="category">{{ category }}</span>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <p>{{ post.description.html|safe}}</p>
        <p id="location-name">{{ post.location }}</p>
        <div id="map" style="height: 400px; width: 100%;"></div>
        <script>
            function initMap() {
                const lat = parseFloat('{{ post.latitude }}');
                const lng = parseFloat('{{ post.longitude }}');
                const locationName = ('{{ post.location }}');
                const location = { lat: lat, lng: lng };
                let map = new google.maps.Map(
                    document.getElementById('map'), {zoom:12, center:location}
                );
                let marker = new google.maps.Marker({position: location, map: map})
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap"></script>
    </div>
    <div class="post-comments">
        <h3>Comments:</h3>
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.user.username }}</strong> - {{ comment.created_date }}<br>
                    {{ comment.content }}
                    {% if request.user == comment.user %}
                        <div class="delete-comment-form">
                            <form method="post" action="{% url 'webapp:delete_comment' comment.id %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    {% endif %}
                </li>
            {% empty %}
                <li>No comments yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="post-comment-form">
        <form method="post" action="{% url 'webapp:add_comment' post.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit Comment</button>
        </form>
    </div>
</div>
{% endblock %}
