{% extends "base.html" %}

{% block content %}
<div class="user-agreement">
  <div class="user-agreement-text">
    <h1>Terms of Use</h1>
    <p>By using this webapp, you agree to the following terms and conditions:</p>
        <h2>Account Registration</h2>
        <p>You must provide accurate and current information when registering for an account. You are responsible for maintaining the confidentiality and security of your account and password.</p>

        <h2>Prohibited Activities</h2>
        <p>You agree not to engage in unlawful, harmful, or harassing activities while using the webapp.</p>

        <h2>User Content</h2>
        <p>You retain ownership of any content you post on the webapp but grant the webapp a non-exclusive, royalty-free, worldwide license to use, copy, and distribute your content.</p>

        <h2>Intellectual Property</h2>
        <p>All content on the webapp is the property of the webapp or its content suppliers and is protected by copyright laws.</p>

        <h2>Termination</h2>
        <p>The webapp reserves the right to terminate your account and this agreement at any time, with or without notice.</p>
  </div>
</div>
{% endblock %}
